.chat-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.left-sidebar {
  width: 300px;
  min-width: 50px;
  max-width: 300px;
  transition: width 0.3s;
}

.left-sidebar.collapsed {
  width: 50px;
}

.chat-window {
  flex: 1 1 0%;
  min-width: 0;
  margin: 0;
  transition: none;
  height: 100vh;
  background: #f7f7f7;
}

.right-sidebar {
  width: 270px;
  transition: width 0.3s;
}

.right-sidebar.collapsed {
  width: 50px;
}

@media (max-width: 768px) {
  .left-sidebar:not(.collapsed) {
    position: absolute;
    z-index: 10;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  .right-sidebar:not(.collapsed) {
    position: absolute;
    right: 0;
    z-index: 10;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }
}
